h1{
    color: white;
    font-family: cursive;
    font-size: 100px;
    /*border: 0px solid rgba(0,0,0,0.1);*/
    border-radius: 50px;
    padding: 70px;
    /*background-color: rgba(0,0,0,0.1);*/
    transition: all 0.5s;

  }
h1:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    /*border: 1px solid rgba(0,0,0,0.1);*/
    transform: translateY(-10px);
  }
  a{
    text-decoration: none;
  }
  body{
    background: #FFA17F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
